.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
}

.form label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}

.form button {
  font: inherit;
  margin-top: 0.4rem;
  width: 15%;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #ebb002;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: #ebc002;
  border-color: #ebc002;
}
