.list {
  list-style: none;
  background-color: #f7f5ef;
  height: 2.2rem;
  border: none;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
